@font-face {
  font-family: "Diary of an 8-bit mage";
  src: url("../fonts/Diary\ of\ an\ 8-bit\ mage.otf");
}

.liss {
  border: 5px solid
    hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 35%));
  z-index: 10;
}

.liss > h2 {
  background-color: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 35%)
  );
  margin: -15px !important;
  margin-bottom: 0 !important;
}

.liul {
  display: inline-flex;
}

:root {
  --clr: #ffffffaa;
  --accent-h: 200;
  --accent-s: 52%;
  --accent-l: 60%;
  --accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}

* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Diary of an 8-bit mage", sans-serif;
  color: var(--accent);
  user-select: none;
}

body {
  background: linear-gradient(
    to right,
    hsl(
      var(--accent-h),
      calc(var(--accent-s) - 20%),
      calc(var(--accent-l) - 35%)
    ),
    #000
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  width: 100%;
  min-height: 85vh !important;
}

#bgCanvas {
  position: absolute;
  z-index: -10000;
  width: 100% !important;
  height: 125% !important;
  position: absolute;
  z-index: -1;
}

ul {
  list-style: none;
}

td {
  border: 1px solid var(--accent);
  padding: 10px;
  user-select: none;
}

table:hover {
  cursor: crosshair;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #000;
  width: 20px * 64;
  height: 18px * 64;
  margin: 0 auto !important;
  z-index: 1000;
  user-select: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: calc(16px * 22);
  image-rendering: pixelated;
}
@media (min-width: 400px) and (max-width: 765px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  table {
    position: absolute;
    top: 0 !important;
  }
  td {
    padding: 8px;
  }
  #btns {
    position: absolute;
    top: 50vh !important;
  }
  #layers {
    position: absolute;
    top: 50vh !important;
    left: 50%;
    width: 90% !important;
  }
  canvas {
    display: none;
  }
  #xy {
    left: 0;
  }
}
#mobileSmall.yesMobileSmall {
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 300%;
  padding: 25%;
  padding-top: 50%;
  font-size: 1.5rem;
  background: #000;
  z-index: 99999;
  color: #fff;
  text-align: center !important;
}

#mobileSmall {
  display: none;
}
#btns {
  position: absolute;
  right: 20px;
  list-style: none;
  top: 5vh;
  overflow-y: scroll;
  max-height: 90%;
  z-index: 10000;
  background: hsla(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 55%),
    0.5
  );
  border: 5px solid
    hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 35%));
}
#layers {
  top: 5vh;
  background-color: hsla(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 55%),
    0.25
  );
  overflow-y: scroll;
  max-height: 90%;
  /* width: 28% !important; */
  border: 5px solid
    hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 35%));
}
#layers::-webkit-scrollbar {
  appearance: none;
}
#btns::-webkit-scrollbar {
  appearance: none;
}
ul li input[type="color"] {
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
}
input[type="text"] {
  background: hsla(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 50%),
    0.25
  );
  border: none;
  border-bottom: 2px solid var(--accent) !important;
  outline: none;
  overflow: visible;
  font-size: 1.02rem;
  transition: 0.15s;
  width: 5.25em !important;
}
input[type="text"]:focus {
  background: hsla(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 40%),
    0.25
  );
}

button,
input[type="button"],
.ui-button {
  background: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 47.5%)
  ) !important;
  border: none !important;
  outline: none;
  transition: 0.15s;
}
button:hover,
input[type="button"]:hover,
.ui-button:hover {
  cursor: pointer;
  background-color: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 45%)
  ) !important;
}
button:active,
input[type="button"]:active,
.ui-button:active {
  background-color: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 49%)
  ) !important;
}
ul li i {
  z-index: 100;
  right: 0;
  color: var(--accent);
}

.active {
  background: hsla(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 50%),
    0.5
  ) !important;
}

.incorrect {
  border-color: #f00;
  color: #f00;
}

#layers {
  position: absolute;
  left: 20px;
  list-style: none;
  width: 347px;
  z-index: 10000;
}
.layer {
  border: 2px solid var(--accent);
  background: #0008;
}

#tblLooper {
  position: absolute;
  top: 15vh;
}
#tbl {
  position: absolute;
  top: 15vh;
}
h2 {
  font-weight: 400;
}

.danger {
  color: #f00 !important;
  background: #400 !important;
}
.danger:hover {
  color: #000 !important;
  background: #f00 !important;
}
.danger:active {
  color: #000 !important;
  background: #a00 !important;
}

#blackscreen {
  background: #243d4b88;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  display: none;
}
.waiting {
  position: absolute;
  top: 40%;
  margin: 0;
  box-shadow: 0 0 0 2.5px var(--accent),
    0 0 0 10px
      hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 20%), 0.5),
    0 0 0 15px
      hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 30%), 0.5),
    0 0 0 20px
      hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 40%), 0.5),
    inset 0 0 0 2.5px
      hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.5),
    inset 0 0 0 10px
      hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 20%), 0.5),
    inset 0 0 0 15px
      hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 30%), 0.5),
    inset 0 0 0 20px
      hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 40%), 0.5);
}

#brushSettings {
  position: absolute;
  bottom: 5vh;
  width: 15%;
  z-index: 10000;
  box-shadow: 0 0 0 2.5px var(--accent),
    0 0 0 10px
      hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 20%), 0.5),
    0 0 0 15px
      hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 30%), 0.5),
    0 0 0 20px
      hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 40%), 0.5),
    inset 0 0 0 2.5px
      hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.5),
    inset 0 0 0 10px
      hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 20%), 0.5),
    inset 0 0 0 15px
      hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 30%), 0.5),
    inset 0 0 0 20px
      hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 40%), 0.5);
  background: linear-gradient(to right, #0008, #0000);
  margin: 0 auto;
}

/* #bRange { */
/* text-align: left; */
/* } */

#xy {
  position: absolute;
  top: 0;
}

#canvSkin {
  display: none;
}

.mouseEnter {
  background: var(--clr) !important;
}
.neighbour {
  background: var(--clr) !important;
}

input {
  outline: none;
}
.hided {
  background: transparent !important;
}

.fa-solid {
  padding: 0;
}

#instr {
  padding: 0 !important;
}

#instr button {
  min-width: 39px !important;
  min-height: 39px !important;
  margin: 0 -2px !important;
  border-radius: 0;
}

.jquiSort {
  transition: 0.5s !important;
}

.jqsortActive h2:hover {
  background-color: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 45%)
  );
  cursor: grabbing;
}

#deepDL {
  display: none;
}
*:disabled {
  cursor: not-allowed;
}
.switcher {
  display: none;
}
.reset {
  display: none;
}
.indev {
  text-decoration: underline !important;
  color: #ff0 !important;
}

.infdev {
  text-decoration: underline !important;
  color: #000cba !important;
}

.divider {
  background: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 47.5%)
  );
  padding: 0 !important;
  margin: 0;
  /* max-width: 10em; */
}
.div1 {
  background-color: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 42.5%)
  );
}
#importImg {
  display: none;
}

#flashbang {
  z-index: 99999;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mixClrs {
  position: absolute;
  z-index: 42842 !important;
  background: hsla(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 45%),
    0.95
  ) !important;
  border: 5px solid
    hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 35%)) !important;
  border-radius: 0 !important;
}

.ui-dialog * {
  font-family: "Diary of an 8-bit mage", sans-serif !important;
  color: var(--accent) !important;
}

.ui-dialog input[type="color"] {
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
}

.ui-widget-overlay {
  background: #111 !important;
}

.ui-button {
  color: var(--accent) !important;
  border-radius: 0 !important;
}

.ui-dialog-buttonpane {
  background: #0000 !important;
  border-top: 5px solid
    hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 35%)) !important;
  width: 100% !important;
  padding: 0.1em !important;
}

.ui-dialog .ui-button:hover {
  background-color: hsl(
    var(--accent-h),
    calc(var(--accent-s) - 20%),
    calc(var(--accent-l) - 40%)
  ) !important;
}

.ui-dialog .danger {
  color: #f00 !important;
  background: #400 !important;
}
.ui-dialog .danger:hover {
  color: #000 !important;
  background: #f00 !important;
}
.ui-dialog .danger:active {
  color: #000 !important;
  background: #a00 !important;
}

.ui-checkboxradio-icon {
  background-color: var(--accent) !important;
  color: var(--accent) !important;
  box-shadow: none !important;
  background: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 47.5%)
  ) !important;
  border: 2px solid
    hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 35%)) !important;
}
.ui-visual-focus {
  box-shadow: none !important;
}

.ui-checkboxradio-label {
  font-family: "Diary of an 8-bit mage", sans-serif !important;
  padding: 0.6em !important;
}

.ui-state-checked {
  background: hsl(
      var(--accent-h),
      var(--accent-s),
      calc(var(--accent-l) - 20%)
    ) !important;
}

.resetZone {
  background: #700;
}
